:root{
    --green-color:#39db4a;
    --red-color:#ff6868;
    --background-color:#fafafa;
    --text-color:#484646;
    --background-img-rating-color:#ffe8ad;
    --light-green-color:#c1f1c6;
    --scroll-arrow-button-color:#efefef;
    --section-padding:60px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: 0.5s;
}
body{
    background-color: #fafafa;
}
.container{
    width: 100%;
    padding: 0px 120px;
    overflow: hidden;
}
/* #region navbar */


.navbar{
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    padding-right: 20px;
    font-size: 18px;
    position:fixed;
    z-index: 999;
    padding: 10px 100px;
    left: 0;
    top: 0;
    height: 80px;
    width: 100%;
    box-shadow:  0px 5px 5px -5px rgba(0, 0, 0, 0.5);
}
.transparent{
    background-color: transparent;
}
.navbar nav{
    margin-top: 15px;
    width: 50%;
    margin-left: 5%;
}
.logo{
    padding: 10px;
}
.navbar nav a:first-child{
    margin-right: 2%;
}
.navbar nav a{
    text-decoration: none;
    color: black;
    
}
.navbar select{
    margin-right: 20px;
    background-image: url(/assets/images/arrow-down-sign-to-navigate.png);
    background-position:100%;
    background-repeat: no-repeat;
    background-size:20px;
    font-size:18px ;
    cursor: pointer;
    width:max-content;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px 20px;
    outline: none;
    border: none;
    border-radius: 4px;
}
option{
    font-size: 16px;
    color: var(--green-color);
}
.navbar select:focus{
    outline: none;
}
.navbar .nav-action{
    margin-top: 10px;
}
.nav-action i{
    margin-right: 30px;
}
.nav-action button i{
    margin-right: 10px;
}
.navbar select,.navbar button{
    text-transform: capitalize;
}
.nav-action button{
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: var(--green-color);
    border: none;
    border-radius: 20px;
}
/* #endregion */
/* #region hero */
.hero{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
}
.hero-text{
    width: 50%; 
}
.hero-text h3{
    margin-top: 100px;
    font-size:4.2vw;
    width: 95%;
}
.hero-text h3 span{
    color: var(--green-color);
}
.hero-text p{
    line-height: 40px;
    width: 80%;
    margin-top: 50px;
    font-size: 1.5rem;
    color:var(--text-color) ;
}
.hero-btns{
    margin-top: 50px;
    display: flex;
}
.btn{
    border: none;
    font-size: 1.6rem;
    border-radius: 50px;
    height: 70px;
    cursor: pointer;
    background-color: var(--green-color);
    color: white;
    padding: 10px 35px;
    box-shadow:0px 10px 10px #39db4978;
}
.hero-btns a:nth-child(2) button{
    background-color: transparent;
    color: var(--text-color);
    border: none;
    box-shadow: none;
}
.hero-btns a:last-child button i{
    background-color: white;
    color: black;
    font-size: 18px;
    width: 50px;
    height: 50px;
    padding-top: 18px;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(128, 128, 128, 0.436);
}
.hero-img{
    width: 50%;
}
.hero-img .hero-img-container{
    background-color: #39db4a;
    border-radius: 50%;
    position: relative;
    top: 100px;
    left: 112px;
    width: 32rem;
    height: 31rem;
    text-align: center;
}
.hero-img .hero-img-container img{
    width: 35.2rem;
    height: 38.9rem;
    position: relative;
    bottom: 126px;
    right: 50px;
}

.tag{
    background-color: white;
    font-size: large;
    border-radius: 30px 30px 0px 30px;
    padding: 10px 20px;
    display: inline;
    position: absolute;
    top: 29%;
    left: 50.5%;
    color: var(--red-color);
    box-shadow: 5px 10px 10px  rgba(0, 0, 0, 0.263);
}
.tag::after{
    content: '';
    width: 30px;
    height: 20px;
    transform: rotate(85deg);
    border-radius:50px 10px 100px 20px;
    position: absolute;
    top: 56%;
    left: 86%;
    background-color: white;
}
.hero-food{
    position: relative;
    width: 90%;
    top: 7%;
    left: 15%;
    display: flex;
    justify-content: space-between  ;
}
.hero-food .food1,.hero-food .food2{
    margin-right: 50px;
    border-radius: 10px;
    width: 220px;
    padding: 10px;
    display: flex;
    background-color: white;
    box-shadow: 0px 10px 20px  rgba(0, 0, 0, 0.263);
}
.hero-food i{
    font-size: small;
}
.yel{
    color:gold ;
}
.price-s{
    font-size: small;
    color: var(--red-color);
}
.hero-food img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 10px;
}
/* #endregion */
/* #region categories */
.categories{
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 150px;
}
.subtitle{
    color: var(--red-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
}
.title{
    font-size: 3.5rem;
    margin: 40px 0;
    text-transform: capitalize;
}
.category-cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.card{
    min-width: 270px;
    padding: 50px;
    border-radius: 30px;
    margin-bottom: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.139);
}
.card-img-container{
    width: 120px;
    height: 120px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-90%);
    border-radius: 50%;
    background-color: var(--light-green-color);
    padding-top: 20px;
}
.category-cards  .card img{
    width: 110px;
    position: relative;
    filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, 0.637));
}
.category-cards  .card:nth-child(2) .card-img-container {
    padding-top: 30px;
}
.category-cards  .card:nth-child(2) img{
    width: 90px;
} 
.category-cards  .card:nth-child(3) img{
    width: 90px;
} 
.category-cards  .card:nth-child(4) img{
    width: 60px;
} 
.category-cards  .card:nth-child(3){
    margin-right: 0;
}
.card-p{
    font-size: 1.4rem;
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 10px;
} 
.card-s{
    color: var(--text-color);
    font-size: 1.1rem;
}
/* #endregion */
/* #region special-dishes */
.special-dishes{
    width: 100%;
    height: fit-content;
    padding-top: 100px;
    margin-bottom: 150px;
}
.dishes-cards{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    overflow: hidden;
    /* white-space: nowrap; */
    padding-left: 20px;
    height: 500px;
}
.dishes-cards img{
    width: 220px;
}
.special-dishes .title{
    width: 40%;
}
.dishes-cards .card{
    width: 400px;
    height: 400px;
    padding-top: 10px;
}
.dishes-cards .card:last-child{
    margin-right: 0;
}
.scroll-arrows{
    display: flex;
    width: 250px;
    justify-content: space-evenly;
    position: relative;
    top: -17%;
    left:80%;
}
.scroll-arrows img{
    width: 50px;
    position: absolute;
}
.scroll-arrows button{
    width: 70px;
    height: 70px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transform: rotate(90deg); 
    background-repeat:no-repeat;
    background-position: center;
    background-size: 20px;
    background-color: var(--scroll-arrow-button-color);
    background-image: url(/assets/images/arrow-down-sign-to-navigate.png);
}
.like-container{
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--green-color);
    position: relative;
}
.scroll-arrows button:last-child{
    background-color: var(--green-color);
    transform: rotate(-90deg);
    background-image: url(/assets/images/arrow-down-sign-to-navigate-white.png);
}
.dishes-cards .card-img-container{
    background-color: transparent;
    width: 260px;
    transform: translate(-40%,-180%);
}
.dishes-cards .card-p{
    margin-top: 80px;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: none;
}
.dishes-cards .card-s{
    font-weight: 500;
    letter-spacing: 1px;
}
.dishes-cards .price-p{
    font-size: 26px;
    font-weight: 600;
    position: relative;
    top: 20px;
}
.dishes-cards .price-s{
    font-size: 20px;
    font-weight: bold;
}
.dishes-cards .yel{
    position: relative;
    left: 200px;
    top: -5px;
    font-size: 22px;
}
.yel span{
    color: rgba(0, 0, 0, 0.804);
    padding-left: 5px;
    font-weight: 200;
}
.fa-heart{
    position: relative;
    width: 70px;
    height: 60px;
    background-color: var(--green-color);
    text-align: center;
    padding-top: 20px;
    top: -10px;
    left: 93%;
    color: white;
    border-radius: 0 30px 0 30px;
}
/* #endregion */
/* #region testimonial */
.testimonial{
    width: 100%;
    height: fit-content;
    margin-top: 100px;
    display: flex;
    margin-bottom: 150px;
}
.testimonial-img{
    width: 50%;
    display: inline-block;
}
.testimonial-img img{
    width: 400px;
    position: relative;
    left: 50px;
}
.testimonial-img .back-shape{
    width: 400px;
    height: 300px;
    background-color: var(--green-color);
    display: inline-block;
    position: relative;
    z-index: -1;
    top: -304px;
    left: 60px;
    border-radius: 100px 100px 30px 30px;
}
.testimonial-img .tag{
    position:relative;
    top: -40%;
    left: -15%;
    color: black;
    padding: 15px;
    padding-left: 40px;
    border-radius: 30px;
}
.testimonial-img .tag::after{
    left: -3%;
    top: -5%;
    width: 40px;
    height: 30px;
    border-radius: 5px 0 0 50px;
    transform: rotate(90deg) rotateX(180deg);
}
.testimonial-img .emojies{
    width: 70%;
    position: relative;
    z-index: 2;
    top: -70%;
    left: 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}
.testimonial-text{
    width: 50%;
    display: inline-block;
    margin-top: 50px;
}

.paragraph{
    font-size: 1.6rem;
    line-height: 40px;
    color: var(--text-color);
}
.testimonial-ppl-imgs{
    margin-top: 50px;
    display: flex;
}
.testimonial-ppl-imgs div{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    outline: 5px solid white;
}
.testimonial-ppl-imgs div:nth-child(1){
    background-color: var(--background-img-rating-color);
    z-index: -1;
}
.testimonial-ppl-imgs div:nth-child(2){
    z-index: 0;
    margin-left: -20px;
}
.testimonial-ppl-imgs div:nth-child(3){
    z-index: 1;
    margin-left: -20px;
}
.testimonial-ppl-imgs img{
    width: 80px;
    height: 80px;
}
.testimonial-rating{
    width: 300px;
    position: relative;
    top: -100px;
    left: 40%;
    text-align: left;
}
.testimonial-rating i, .testimonial-rating .card-s{
    margin-top: 10px;
}
.testimonial-rating .card-s{
    position: relative;
    left:60px;
    top: -30px;
}
/* #endregion */
/* #region services */
.services{
    width: 100%;
    display: flex;
    height: fit-content;
    margin-bottom: 150px;
}
.services .services-text{
    width: 50%;
    padding-top: 50px;
}
.services .paragraph{
    font-size: 1.7rem;
}
.services .btn{
    box-shadow: none;
}
.services-grid{
    width: 50%;
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 220px));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    gap: 30px;
}
.services-grid .grid-item{
    background-color: var(--background-color);
    box-shadow: 0px 5px 20px  rgba(0, 0, 0, 0.263);
    border-radius: 30px;
    text-align: center;
    padding: 0px 20px;
    color: var(--green-color);
}
.services .grid-item *{
    margin-top: 20px;
}
.services .grid-item h4{
    font-size: 20px;
    text-transform: uppercase;
}
.services .grid-item p{
    color: #30a53cb3;
    font-weight: bold;
}
/* #endregion */
/* #region footer */
footer{
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(150px,1fr));

}
footer  div ul{
    list-style: none;
    margin-left:80px;
}
footer div ul li {
    margin-bottom: 20px;
    opacity: 0.8;
}
footer a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
}
footer div ul li:first-child {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 22px;
}
footer  div:first-child p {
    margin-top: 20px;
    width: 100%;
}
/* #endregion */
/* #region lower footer */
.lower-footer{
    display: flex;
}
.lower-footer i:first-child{
    border-radius: 50%;

}
.lower-footer i{
    margin-right: 15px;
    font-size: 18px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lower-footer .paragraph{
    margin: auto;
    margin-left:250px;  
    font-size: 20px;
    color: var(--text-color);
}
/* #endregion */
@media screen and (max-width:1400px) {
    .hero-food{
        width: 120%;
        justify-content: left;
    }
    .hero-text h3{
        font-size: 4vw;    
        }
        .hero-text p{
            font-size: 2vw;
            margin-top: 40px;
        }
        .hero-btns{
            margin-top: 40px;
            display: flex;
        }
        .btn{
            font-size: 1.5rem;
            padding: 15px 25px;
        }
}
@media screen and (max-width:1200px){
    
    .hero-text h3{
    font-size: 3.9vw;    
    }
    .hero-text p{
        font-size: 1.8vw;
        line-height: 25px;
        margin-top: 30px;
    }
    .hero .hero-img-container   {
        width: 25rem;
        height: 24rem;
    }
    .hero .hero-img-container img{
        width: 27.8rem;
        height: 31.9rem;
        bottom: 126px;
        right: 41px;
    }
    .hero-food{
        width: 120%;
    }
    .hero-food .food1,.hero-food .food2{
        margin-right: 50px; 
    }
    .hero-btns{
        margin-top: 30px;
    }
    .btn{
        font-size: 1.4rem;
        padding: 15px 25px;
    }
}
@media screen and (max-width:1100px){
    
    .hero-text h3{
    font-size: 3.6;    
    }
    .hero-text p{
        font-size: 1.8vw;
    }
    .hero .hero-img-container   {
        width: 25rem;
        height: 24rem;
    }
    .hero-food{
        width: 150%;
    }
    .hero .hero-img-container img{
        width: 27.8rem;
        height: 31.9rem;
        bottom: 126px;
        right: 41px;
    }
    .btn{
        font-size: 1.2rem;
    }
}
@media screen and (max-width:980px) {
    .hero{
        display: block;
        height: 160vh;
    }
    .hero-text,.hero-img{
        width: 100%;
        margin-top: 50px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .hero-text{
        top: 20%;
    }
    .hero-img{
        top: 35%;
    }
    .hero-img-container{
        top: 150px;
        left: 112px;
    }
    .tag{
        top: 30%;
        left: 0%;
    }
}